body {
  font-family: Arial, sans-serif;
  background-color: #ce5caa;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: blue;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

p {
  text-align: center;
  font-size: 18px;
  color: green;
}

